body{
	background-image:url(back3.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position:fixed;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}
.wrap{
width: 670px;
height:670px;
border-radius:600px;
margin-left:10%;
background: rgba(0,0,0,0.7);
box-sizing: border-box;
padding: 40px;
color: #fff;
margin-top:20px;
 transition: transform .3s;
}
.wrap:hover{
	transform: scale(1.02);
}
h1
{
    text-align: center; 
font-size:45px;	
}
.inp1{
	
width: 90%;
box-sizing: border-box;
padding: 12px 5px;
background: rgba(0,50,0,0.25);
outline: none;
border: none;
border-bottom: 1px solid #fff;

color:lightgreen;
border-radius: 20px;
margin:5px;
font-weight: bold;
}
.inp1:hover{
box-shadow:4px 4px 9px;}
.inp3{
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border:none;
    background: #60adde;
    border-radius: 20px;
    font-size: 20px;
}
.inp3:hover{
    background:#003366;
}
a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: orange;
}
a:hover
{
    color:green;
}